.deck-card {
    width: 45%;
    height: fit-content;
    position: relative;
    aspect-ratio: 10 / 7;
    box-shadow: inset 0 0 100px #000000;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--fallback-image);

    .deck-title {
        position: absolute;
        margin: 0.25em 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #eee;
        text-shadow: 0 0 10px #000;
        font-weight: 700;
        font-size: 1.5em;
        text-align: center;
    }
}