:root {
  --left-margin: 10vw;
  --upper-margin: 5vh;


  --main-color: #2a3027;
  --background-gray-color: #40493b;
  --background-light-gray-color: #a4ae9e;
  --alt-main-color: #2a485a;
  --alt-light-main-color: #5b788c;

  --text-color: #ebe9d7;

  --fallback-image: url("https://cards.scryfall.io/art_crop/front/e/b/eb9963e0-a22a-4a64-aa0c-b7c67c5fee96.jpg?1629919504");
}

.Main-page {
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;

  hr {
    color: var(--text-color);
    border-color: var(--background-gray-color);
    background-color: var(--text-color);
  }
}

.Main-header {
  padding: var(--upper-margin) var(--left-margin) 0;
  background-color: var(--main-color);
  font-size: calc(10px + 2vmin);
  position: relative;

  &>*:not(.header-cover) {
    position: relative;
    z-index: 2;
  }

  .header-cover {
    position: absolute;
    background-size: cover;
    background-position: left;
    width: 55%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;

    background-image: var(--fallback-image);

    mask: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  }
}

.Main-body {
  padding: var(--upper-margin) var(--left-margin) 0;
  background-color: var(--background-gray-color);
  flex-grow: 1;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  &>* {
    margin: 0.5em;
    width: calc(100% / 2 - 1em);
  }

  &.col3>* {
    width: calc(100% / 3 - 1em);
  }

  &.col5>* {
    width: calc(100% / 5 - 1em);
  }

  &.col10>* {
    width: calc(100% / 10 - 1em);
  }
}