:root {
  --left-margin: 10vw;
  --upper-margin: 5vh;
}

.App {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding: var(--upper-margin) var(--left-margin) 0;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.App-body {
  padding: var(--upper-margin) var(--left-margin) 0;
  background-color: #282c34;
  flex-grow: 1;
}

.App-link {
  color: #61dafb;
}